# BayesFusion pysmile academic license — obtain from smile_license/pysmile_license.py
# or the BayesFusion licensing server. Do NOT commit real values.
SMILE_LICENSE="SMILE LICENSE xxxxxxxx ... Issued by BayesFusion activation server"
SMILE_KEY="0x00,0x00,0x00,..."
